<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Client Form</title>
</head>
<body class="bg-[#2B2D31]">
    <div id="app">
            <h1 class="text-6xl font-mono font-bold text-white">BALOON CORPORATION</h1>
        <section class="flex flex-col place-items-center w-1/2 gap-5">
        <div>
            <form class="flex flex-col border-solid border-2 border-black gap-3 p-8 bg-black w-42" action="">
                <input v-model="name" class="border-solid border-2 border-black" type="text" id="name" placeholder="Name">
                <input v-model="lastName" class="border-solid border-2 border-black" type="text" id="lastname" placeholder="Last name">
                <input v-model="email" class="border-solid border-2 border-black" type="text" id="email" placeholder="Email Address">
                <button @click="addClient" class="border-solid border-2 w-24 place-content-center text-white font-bold">add Client</button>
            </form>
        </div>
                <table class="border-collapse border border-black bg-white">
                    <thead>
                        <tr>
                            <th class="border-collapse border border-black p-2 w-36">Name</th>
                            <th class="border-collapse border border-black w-36">Last Name</th>
                            <th class="border-collapse border border-black w-36">Email</th>
                        </tr>
                    </thead>
                    <template v-if="clients.length" v-for="client of clients">
                    <tbody>
                    <tr>
                        <td class="border-collapse border border-black p-1">{{client.name}}</td>
                        <td class="border-collapse border border-black">{{client.lastName}}</td>
                        <td class="border-collapse border border-black">{{client.email}}</td>
                    </tr>
                    </tbody>
                    </template>
                </table>
        </section>
            <pre class="text-white">{{data}}</pre>
    </div>
    <script src="tailwind.config.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/data.js"></script>
</body>
</html>