<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/icons8-elemento-aire-32.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Poppins&family=Courier+Prime&family=Lilita+One&family=Michroma&family=Oxygen&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Baloon Inc</title>
</head>
<body class="bg-[#FFFE91]">
    <div id="app">
        <header class="bg-gradient-to-r from-[#000000]  to-[#E6A51D] flex flex-row lg:space-x-32 items-center lg:p-8 mt-3 mx-3 pl-3 rounded-t-xl min-h-[10vh]  lg:gap-0 space-x-4">
            <div class="flex flex-row lg:w-56 gap-2">
            <img class="w-5 object-contain lg:w-8" src="../images/icons8-elemento-aire-32.png" alt="Baloon">
            <h1 class="text-sm lg:text-3xl text-white font-bold font-['Poppins']">Baloon Inc</h1>
            </div>
            <div class="flex flex-row lg:w-3/4 lg:justify-end lg:gap-5 gap-2">
            <a href="#" class="flex flex-row gap-1 bg-[#221E1F] p-2 rounded-xl items-center hover:bg-black hover:rounded-xl hover:animate-pulse" v-on:click="mostrarModal">
                <h2 class="text-sm lg:text-xl text-white font-bold font-['Comfortaa']">Log In</h2>
                <img class="w-5 lg:w-7" src="../images/icons8-entrar-64.png" alt="login">
            </a>
            <a href="#" class="flex flex-row gap-1 bg-[#221E1F] p-2 rounded-xl items-center hover:bg-black hover:rounded-xl hover:animate-pulse" v-on:click="mostrarModal2">
                <h2 class="text-sm lg:text-xl text-white font-bold font-['Comfortaa']">Sign Up</h2>
                <img class="w-5 lg:w-7" src="../images/icons8-añadir-usuario-masculino-48.png" alt="sign-Up">
            </a>
            </div>
        </header>
        <main class="mx-3 bg-gradient-to-r from-[#000000]  to-[#E6A51D]">
            <section class="flex flex-wrap w-full mb-24 px-5" >
                <h2 class="text-8xl p-7 flex self-center text-white font-bold font-['Poppins'] w-[50%]">Banking & Budgeting, made Simple.</h2>
                <article class="flex lg:justify-end justify-center w-[50%]">
                        <img class="lg:max-h-[100vh] object-contain min-h-[35vh]" src="../images/Untitled design (4).png" alt="cards">
                </article>
                <button  class=" bg-[#E6A51D] ml-48 p-2 rounded-2xl items-center font-['Comfortaa'] text-white text-2xl animate-pulse" v-on:click="mostrarModal">Start Now</button>
            </section>
            <section class="w-full flex flex-col justify-center gap-4 mb-10">
                <h2 class="font-['Poppins'] text-4xl text-center font-bold text-white ">Together, We Make It Happen</h2>
                <p class="font-['Comfortaa'] text-xl text-center text-white">See how our clients help move our economy forward </p>
            </section>
            <section class="flex flex-row w-full justify-center gap-5">
                <article class="bg-slate-400/20 w-44 h-44 rounded-lg flex flex-col content-center gap-2 p-4">
                    <img class="w-16 place-self-center" src="../images/icons8-apretón-de-manos-64.png" alt="handshake">
                    <p class="font-['Comfortaa'] text-center text-white">We provide effective solutions</p>
                </article>
                <article class="bg-slate-400/20 w-44 h-44 rounded-lg flex flex-col content-center gap-4 p-4">
                    <img class="w-16 place-self-center" src="../images/icons8-cellphone-50.png" alt="handshake">
                    <p class="font-['Comfortaa'] text-center text-white">Get our Website closer from you</p>
                </article>
                <article class="bg-slate-400/20 w-44 h-44 rounded-lg flex flex-col content-center gap-2 p-4">
                    <img class="w-16 place-self-center" src="../images/icons8-banco-48.png" alt="handshake">
                    <p class="font-['Comfortaa'] text-center text-white">Make your dreams come true with us</p>
                </article>
                <article class="bg-slate-400/20 w-44 h-44 rounded-lg flex flex-col content-center gap-4 p-4">
                    <img class="w-16 place-self-center" src="../images/icons8-card-60.png" alt="handshake">
                    <p class="font-['Comfortaa'] text-center text-white">Attractive interest rates</p>
                </article>
            </section>
            <section class="flex flex-col w-full py-10 gap-3 ">
                <article class="lg:w-[900px] bg-slate-400/20 p-3 ml-10 flex gap-4">
                    <img class="w-[500px]" src="../images/mama e hijo.png" alt="mom">
                    <div class="w-full flex flex-col justify-center">
                    <p class="font-['Oxygen'] p-1 text-xl">it's Christmas!</p>
                    <h3 class="text-4xl font-bold font-['Poppins'] p-1">We'll have special schedule on christmas</h3>
                    <p class="font-['Oxygen'] p-1 text-2xl">Don't leave for tomorrow whatever you have to do today</p>
                        <button class="bg-black w-24 mt-16 place-self-center text-white p-1 rounded-2xl font-bold">see more</button>
                    </div>
                </article>
                <article class="lg:w-[900px] bg-slate-400/20 p-3 mr-10 flex self-end gap-4">
                    <div class="w-full flex flex-col justify-center">
                        <p class="font-['Oxygen'] p-1 text-xl text-center">You are important for us</p>
                        <h3 class="text-4xl font-bold font-['Poppins'] p-1 text-center">$300 checking bonus on us</h3>
                        <p class="font-['Oxygen'] p-1 text-2xl text-center">Open an eligible checking account with qualifying electronic deposits</p>
                        <button class="bg-black w-24 mt-16 place-self-center text-white p-1 rounded-2xl font-bold">see more</button>
                    </div>
                    <img class="w-[500px]" src="../images/de compras.png" alt="mom">
                </article>
                <article class="lg:w-[900px] bg-slate-400/20 p-3 ml-10 flex gap-4">
                        <img class="w-[500px]" src="../images/comiendo pizza.png" alt="mom">
                    <div class="w-full flex flex-col justify-center">
                        <p class="font-['Oxygen'] p-1 text-xl">our bonus for you!</p>
                        <h3 class="text-4xl font-bold font-['Poppins'] p-1">Enjoy 0% intro APR for 21 months</h3>
                        <p class="font-['Oxygen'] p-1 text-2xl">from account opening on purcharses and qualifying balance transfers. Terms apply.</p>
                        <button class="bg-black w-24 mt-16 place-self-center text-white p-1 rounded-2xl font-bold">see more</button>
                    </div>
                </article>
            </section>
            </main>
            <footer class="mx-3 bg-[#E6A51D] p-4 flex space-x-56">
                <div>
                    <div class="flex flex-col items-center justify-center">
                        <h3 class="font-semibold text-center text-sm text-black font-lilita">Follow Us</h3>
                        <div class="flex mt-2">
                            <a href="https://www.facebook.com/"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                    width="45" height="45" viewBox="0 0 32 32">
                                    <path
                                        d="M15,3C8.373,3,3,8.373,3,15c0,6.016,4.432,10.984,10.206,11.852V18.18h-2.969v-3.154h2.969v-2.099c0-3.475,1.693-5,4.581-5 c1.383,0,2.115,0.103,2.461,0.149v2.753h-1.97c-1.226,0-1.654,1.163-1.654,2.473v1.724h3.593L19.73,18.18h-3.106v8.697 C22.481,26.083,27,21.075,27,15C27,8.373,21.627,3,15,3z">
                                    </path>
                                </svg>
                            </a>
                            <a href="https://www.instagram.com/"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                    width="50" height="45" viewBox="0 0 32 32">
                                    <path
                                        d="M 11.46875 5 C 7.917969 5 5 7.914063 5 11.46875 L 5 20.53125 C 5 24.082031 7.914063 27 11.46875 27 L 20.53125 27 C 24.082031 27 27 24.085938 27 20.53125 L 27 11.46875 C 27 7.917969 24.085938 5 20.53125 5 Z M 11.46875 7 L 20.53125 7 C 23.003906 7 25 8.996094 25 11.46875 L 25 20.53125 C 25 23.003906 23.003906 25 20.53125 25 L 11.46875 25 C 8.996094 25 7 23.003906 7 20.53125 L 7 11.46875 C 7 8.996094 8.996094 7 11.46875 7 Z M 21.90625 9.1875 C 21.402344 9.1875 21 9.589844 21 10.09375 C 21 10.597656 21.402344 11 21.90625 11 C 22.410156 11 22.8125 10.597656 22.8125 10.09375 C 22.8125 9.589844 22.410156 9.1875 21.90625 9.1875 Z M 16 10 C 12.699219 10 10 12.699219 10 16 C 10 19.300781 12.699219 22 16 22 C 19.300781 22 22 19.300781 22 16 C 22 12.699219 19.300781 10 16 10 Z M 16 12 C 18.222656 12 20 13.777344 20 16 C 20 18.222656 18.222656 20 16 20 C 13.777344 20 12 18.222656 12 16 C 12 13.777344 13.777344 12 16 12 Z">
                                    </path>
                                </svg>
                            </a>
                            <a href="https://twitter.com/"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                    width="40" height="40" viewBox="0 0 50 50">
                                    <path
                                        d="M 11 4 C 7.1456661 4 4 7.1456661 4 11 L 4 39 C 4 42.854334 7.1456661 46 11 46 L 39 46 C 42.854334 46 46 42.854334 46 39 L 46 11 C 46 7.1456661 42.854334 4 39 4 L 11 4 z M 11 6 L 39 6 C 41.773666 6 44 8.2263339 44 11 L 44 39 C 44 41.773666 41.773666 44 39 44 L 11 44 C 8.2263339 44 6 41.773666 6 39 L 6 11 C 6 8.2263339 8.2263339 6 11 6 z M 13.085938 13 L 22.308594 26.103516 L 13 37 L 15.5 37 L 23.4375 27.707031 L 29.976562 37 L 37.914062 37 L 27.789062 22.613281 L 36 13 L 33.5 13 L 26.660156 21.009766 L 21.023438 13 L 13.085938 13 z M 16.914062 15 L 19.978516 15 L 34.085938 35 L 31.021484 35 L 16.914062 15 z">
                                    </path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div>
                    <ul class="list-none leading-loose pb-3">
                        <li class="text-sm text-black font-lilita">About Us</li>
                        <li class="text-sm text-black font-lilita">Contact</li>
                        <li class="text-sm text-black font-lilita">History</li>
                        <li class="text-sm text-black font-lilita">Mision</li>
                    </ul>
                </div>
                <div>
                    <ul class="list-none leading-loose pb-3">
                        <li class="text-sm text-black font-lilita">Products</li>
                        <li class="text-sm text-black font-lilita">Your Account</li>
                        <li class="text-sm text-black font-lilita">Loans</li>
                        <li class="text-sm text-black font-lilita">Type of cards</li>
                    </ul>
                </div>
                <div>
                    <ul class="list-none leading-loose pb-3">
                        <li class="text-sm text-black font-lilita">Services</li>
                        <li class="text-sm text-black font-lilita">Insurances</li>
                        <li class="text-sm text-black font-lilita">Pymes</li>
                        <li class="text-sm text-black font-lilita">Entrepreneurship</li>
                    </ul>
                </div>
            </footer>
            <footer class="mx-3 bg-[#000000] rounded-b-xl lg:p-4 flex flex-col gap-2 p-1 lg:flex-row lg:gap-96 mb-3 min-h-[20vh]">
                <div class="flex flex-row lg:w-56 items-center justify-center">
                    <img class="lg:w-8 w-5 object-contain" src="../images/icons8-elemento-aire-32.png" alt="Baloon">
                    <h1 class="lg:text-2xl text-sm text-white font-bold font-lilita">Baloon Inc</h1>
                </div>
                <h2 class="lg:w-[400px]  text-sm text-white font-lilita flex items-center text-center">Copyright © 2023 Baloon Corporation Group</h2>
                <div class="text-center">
                    <h3 class="lg:text-xl text-sm text-white font-bold font-lilita">Laura Paredes</h3>
                    <h4 class="text-sm text-white font-lilita">Cohort 52</h4>
                </div>
            </footer>
            </footer>
            <div v-show='modal' class="w-full bg-slate-400/40 h-screen fixed inset-0 z-10 flex justify-center items-center">
                <section class="lg:w-96 lg:h-96 bg-[#FFFFFF] absolute rounded-xl p-3 lg:p-0">
                    <button  class="text-Black font-bold p-1 m-1 absolute top-1 right-1 rounded-lg" v-on:click="cerrarModal">X</button>
                    <div class="flex flex-col w-full h-full items-center gap-5 place-content-center" @submit.prevent>
                        <img class="w-10" src="../images/icons8-elemento-aire-32.png" alt="Baloon">
                        <h2 class="text-3xl text-black font-bold font-['Poppins']">WELCOME!</h2>
                        <input class="w-72 p-2 rounded-lg border-2 shadow-lg" type="text" id="email" name="email" placeholder="user@example.com" v-model="email">
                        <input class="w-72 p-2 rounded-lg border-2 shadow-lg" type="password" id="password" name="password" placeholder="password" v-model="password">
                        <button class=" bg-[#E6A51D] text-white font-bold  p-1 m-1 shadow-lg hover:bg-black rounded-lg" @click="login()">Log In</button>
                    <div>
                        <p class="font-['Comfortaa'] text-sm">Don't have an account?</p>
                        <p class="font-['Comfortaa'] text-sm hover:underline hover:text-lg hover:font-bold cursor-pointer text-center" v-on:click="mostrarModal2">Create one here</p>
                    </div>
                    </div>
                     <!--  <h3 v-else>an error has ocurred, try it again</h3> -->
                </section>
            </div>
            <div v-show='modal2' class="w-full bg-slate-400/40 h-screen fixed inset-0 z-10 flex justify-center items-center">
                <section class="lg:w-96 lg:h-3/4 bg-[#FFFFFF] absolute rounded-xl p-3 lg:p-0">
                    <button  class="text-Black font-bold p-1 m-1 absolute top-1 right-1 rounded-lg" v-on:click="cerrarModal2">X</button>
                    <div class="flex flex-col w-full h-full items-center gap-3 place-content-center" @submit.prevent>
                        <img class="w-10" src="../images/icons8-elemento-aire-32.png" alt="Baloon">
                        <h2 class="text-2xl text-black font-bold font-['Poppins']">WELCOME!</h2>
                        <input class="w-72 p-2 rounded-lg border-2 shadow-lg" type="text" id="firstName" name="firstName" placeholder="First Name" v-model="name">
                        <input class="w-72 p-2 rounded-lg border-2 shadow-lg" type="lastName" id="lastName" name="lastName" placeholder="LastName" v-model="lastName">
                        <input class="w-72 p-2 rounded-lg border-2 shadow-lg" type="text" id="emailsg" name="email" placeholder="user@example.com" v-model="email">
                        <input class="w-72 p-2 rounded-lg border-2 shadow-lg" type="password" id="passwordsg" name="password" placeholder="password" v-model="password">
                        <button class=" bg-[#E6A51D] text-white font-bold  p-1 m-1 shadow-lg hover:bg-black rounded-lg" @click="signUp">Sign Up</button>
                    </div>
                     <!--  <h3 v-else>an error has ocurred, try it again</h3> -->
                </section>
            </div>
    </div>
    <script src="../js/tailwind.config.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../js/data.js"></script>
</body>

</html>